.profile__component {
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid var(--dark);
}

.profile__title-component {
  display: flex;
  justify-content: space-between;
}

.profile__subtitle-component {
  display: flex;
  justify-content: space-between;
}

.profile__edit-image {
  background: url('../../assets/profile/edit-profile.svg');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.profile__inputs-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  flex-grow: 1;
}

.profile__inputs-container_column {
  flex-direction: column;
}
