.profile__component {
  padding: 10px 0;
}

.profile__title-component {
  display: flex;
  justify-content: space-between;
}

.profile__subtitle-component {
  display: flex;
  justify-content: space-between;
}

.profile__edit-image {
  background: url('../../assets/profile/edit-profile.svg');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.profile__inputs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.profile__input-container-1-column {
  grid-template-columns: 1fr;
}
