.error {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding-top: 15%;
}

.breadcrumbs {
  background-color: var(--lilac-light-30);
  padding: 30px 0;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.breadcrumbs__item:not(:last-child) {
  display: flex;
  align-items: center;
}

.breadcrumbs__item:not(:last-child)::after {
  content: '>';
  font-size: 20px;
  margin-left: 20px;
}

.breadcrumbs__item:not(:last-child) .breadcrumbs__link {
  color: var(--gray-light);
  text-decoration: none;
  font-weight: 500;
}

.product-details {
  display: flex;
  gap: 20px;
  padding-top: 45px;
  padding-bottom: 45px;
}

.image-block {
  width: 45%;
  padding: 0 40px;
}

.image-block-main {
  width: 100%;
  height: 500px;
}

.image-block-main__item {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image-block-other {
  margin-top: 25px;
  display: flex;
  gap: 25px;
}

.image-block-other__item {
  width: 80px;
  height: 80px;
  object-fit: contain;
  cursor: pointer;
}

.description {
  width: 55%;
}

.description__title,
.description__text,
.description__price {
  text-align: left;
}

.description__text {
  margin-bottom: 15px;
}

.description__price {
  font-size: 36px;
  margin-bottom: 25px;
}
.description__price-new {
  color: var(--lilac-dark);
  margin-right: 30px;
}
.description__price-old {
  text-decoration: line-through;
  font-size: smaller;
  color: var(--gray-light);
}
.description__content::before,
.description__content::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: var(--gray-light);
  margin-top: 25px;
  margin-bottom: 25px;
}

.description__content-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}

.description__list {
  list-style: none;
  color: var(--gray-light);
}

.description__list li:not(:last-child) {
  margin-bottom: 5px;
}

@media screen and (max-width: 1024px) {
  .breadcrumbs {
    padding: 20px 0;
  }
  .breadcrumbs__list {
    gap: 10px;
  }
  .breadcrumbs__item:not(:last-child)::after {
    margin-left: 10px;
  }
  .product-details {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .image-block {
    width: 40%;
    padding: 0 30px;
  }
  .image-block-main {
    height: 350px;
  }
  .image-block-other {
    gap: 20px;
  }
  .image-block-other__item {
    width: 70px;
    height: 70px;
  }
  .description__price {
    font-size: 28px;
  }
  .description__content-title {
    font-size: 20px;
  }
  .description__content::before,
  .description__content::after {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .breadcrumbs {
    padding: 10px 0;
  }
  .product-details {
    flex-direction: column;
    gap: 30px;
  }
  .image-block,
  .description {
    width: 100%;
  }
  .description__title,
  .description__text {
    text-align: center;
  }
  .description__text {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .description__price {
    text-align: center;
    font-size: 24px;
  }
  .description__price-new {
    margin-right: 20px;
  }
  .description__content-title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .image-block-main {
    height: 300px;
  }
  .image-block-other {
    display: none;
  }
}

@media screen and (max-width: 415px) {
}
