.registration__input {
  max-width: 400px;
  width: 100%;
  border: 1px solid #9f9f9f;
  border-radius: 10px;
  height: 65px;
  background: #fff;
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 16px;
  color: #333;
  padding: 0 23px;
}

.registration__input_small {
  max-width: 240px;
}

.input__title {
  color: var(--dark);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.input__error {
  height: 40px;
  word-wrap: break-word;
  color: var(--mistake);
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
}

@media screen and (max-width: 1024px) {
  .registration__input_small {
    max-width: 100%;
  }
}
