.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-page_wrapper {
  border-radius: 10px;
  width: 1000px;
  height: 520px;
  background-color: rgba(206, 195, 231, 0.3);
  display: flex;
  overflow: hidden;
}
.login-page_image {
  width: 50%;
  background-image: url(../../assets/login-page_image.png);
}
