.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
}
.login-page-wrapper {
  border-radius: 10px;
  width: 1000px;
  min-height: 520px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgba(206, 195, 231, 0.3);
  display: flex;
  overflow: hidden;
}
.login-page-image {
  width: 100%;
  background-image: url(../../assets/login-page/login-page_image.png);
}
@media screen and (max-width: 1024px) {
  .login-page {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .login-page-wrapper {
    width: 472px;
  }
  .login-page-image {
    display: none;
  }
}
