.add__address-container {
  margin: 0 auto;
  padding-top: 30px;
}

.address {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid var(--dark);
}
.error {
  max-width: 240px;
}

.response {
  text-align: center;
  height: 20px;
}

.radio-button__container {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 1024px) {
  .address {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .error {
    max-width: 100%;
  }
}
