.product-item {
  cursor: pointer;
  width: 100%;
  max-width: 390px;
  border: 2px solid transparent;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.34);
  transition: 0.2s;
  background-color: #f4f5f7;
}
.product-item:hover {
  border: 2px solid var(--primary);
}
.item-image-wrapper {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  position: relative;
}
.discount-label {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background: #e97171;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-image {
  height: 300px;
  transform: scale(0.8);
  transition: 0.2s;
}
.product-item:hover .item-image {
  transform: scale(0.9);
}
.item-text-wrapper {
  padding: 16px;
  background-color: #f4f5f7;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.item-rating {
  width: 100%;
  border-bottom: 1px solid #000000;
}
.item-name {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #3a3a3a;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-description {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #898989;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-cover {
  width: 100%;
  border-bottom: 1px solid #000000;
}
.item-prices-wrapper {
  display: flex;
  gap: 16px;
}
.item-price {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #3a3a3a;
}
.item-price.for-discount {
  color: #ff0000;
}
.item-price-discounted {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-decoration: line-through;
  color: #b0b0b0;
}
