.registrationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.registrationForm {
  width: 40%;
  height: 550px;
  padding: 10px;
  border: 2px solid red;
  border-radius: 10px;
}

.formTitle {
  text-align: center;
}
