.profile__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  border: 2px solid var(--dark);
  color: var(--dark);
  font-size: 14px;
  font-family: var(--font-poppins);
  background-color: transparent;
  cursor: pointer;
}

.profile__button_colored {
  border-color: var(--lilac-dark);
  background-color: var(--lilac-dark);
  color: var(--white);
}

.profile__button_small {
  width: 60px;
}
