.btn-pagination {
  border-radius: 5px;
  height: 40px;
  min-width: 40px;
  padding: 10px;
  font-family: var(--font-poppins);
  font-weight: 400;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-time);
}
.btn-pagination.standard {
  border: 1px solid var(--primary);
  background: var(--primary);
  color: #fff;
}
.btn-pagination.light {
  border: 1px solid #cec3e7;
  background: #cec3e7;
  color: #000000;
}
.btn-pagination.control-active {
  min-width: 60px;
  border: 1px solid var(--primary);
  background: #cec3e7;
  color: #000000;
  cursor: pointer;
}
.btn-pagination.control-active:hover {
  border: 1px solid var(--primary);
  background: var(--primary);
  color: #ffffff;
}
.btn-pagination.control-notactive {
  min-width: 60px;
  border: 1px solid #adadad;
  background: #adadad;
  color: #ffffff;
  cursor: not-allowed;
}
