.product {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
  padding: 10px;

  /*   display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px; */
}

.product__image {
  width: 108px;
  height: 105px;
  border-radius: 10px;
  object-fit: contain;
}

.product__content {
  font-size: 18px;
  font-weight: 400;
  color: var(--gray-light);
  text-align: center;
}

.product__input {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  text-align: center;
}

.product__button {
  background-color: transparent;
  width: 32px;
  height: 32px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.product__delete {
  background-image: url('/src/assets/images/basket-for-cart.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.price-component {
  position: relative;
}

.product__content_colored {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  color: var(--mistake);
  text-decoration: line-through;
  text-wrap: nowrap;
}

@media screen and (max-width: 769px) {
  .product__content {
    font-size: 14px;
  }
  .product__content_colored {
    font-size: 12px;
  }

  .product__image {
    width: 70px;
    height: 80px;
  }
}

@media screen and (max-width: 415px) {
  .product {
    padding: 5px;
  }
  .product__content {
    font-size: 12px;
  }
  .product__image {
    width: 50px;
    height: 60px;
  }
}
